<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
@Html.Raw(ViewBag.CodeExampleText.ExampleDescriptionExtended)


@if (ViewBag.showDoc) {
    <p><a target='_blank' href='@ViewBag.documentation'>Documentation</a> about this example</p>
}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
    View source file <a target="_blank" href="@ViewBag.source">GetDocumentFromEnvelope.cs</a> on GitHub.
</p>

@if (!ViewBag.envelopeOk) {
<p>
    Problem: please first create an envelope using <a href="eg002">Send an envelope with a remote (email) signer and cc recipient.</a> <br />
    You will then need to use List an envelope's documents to create the list of documents.<br />
    Thank you.
</p>

<form class="eg" action="eg002" method="get">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
} else if (!ViewBag.documentsOk) {
<p>
    Problem: please first create a list of the envelope's documents using
    <a href="eg006">List an envelope's documents.</a> <br />
    Thank you.
</p>

<form class="eg" action="eg006" method="get">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
} else {
<p>
    Please choose a document.<br />
    The document list is from your results for List an envelope's documents.
</p>

<form class="eg" action="" method="post" data-busy="form-download">
    <div class="form-group">
        <label for="docSelect">Document selection</label>
        <select class="custom-select" id="docSelect"
                name="docSelect" aria-describedby="emailHelp">
            @foreach (var opt in ViewBag.documentOptions) {
                <option value="@opt.DocumentId">@opt.Name</option>
            } 
        </select>
    </div>
    <input type="hidden" name="_csrf" value="@ViewBag.csrfToken">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
}
