@using System.Text.RegularExpressions;
@{
    var redirectToSixthCodeExample = "href='eg006'";
    var redirectToSecondCodeExample = "href='eg002'";
    int formNumber = 0;
    int documentInputNumber = 0;
}

<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>@Html.Raw(ViewBag.CodeExampleText.ExampleDescription)</p>


@if (ViewBag.showDoc)
{
    <p><a target='_blank' href='@ViewBag.documentation'>Documentation</a> about this example</p>
}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" />

<p>
    @Html.Raw(@String.Format(ViewBag.SupportingTexts.ViewSourceFile, "<a target='_blank' href=" + @ViewBag.source + ">GetDocumentFromEnvelope.cs</a>"))
</p>

@if (!ViewBag.envelopeOk)
{
    <p>
        @Html.Raw(
            String.Format(
                ((IEnumerable<dynamic>)ViewBag.CodeExampleText.RedirectsToOtherCodeExamples)
                    .Where(x => x.CodeExampleToRedirectTo == int.Parse(Regex.Match(redirectToSecondCodeExample, @"\d+").Value))
                    .FirstOrDefault()
                    .RedirectText,
                redirectToSecondCodeExample
            )
        )
    </p>

    <form class="eg" action="eg002" method="get">
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
    </form>
}
else if (!ViewBag.documentsOk)
{
    <p>
        @Html.Raw(
            String.Format(
                ((IEnumerable<dynamic>)ViewBag.CodeExampleText.RedirectsToOtherCodeExamples)
                    .Where(x => x.CodeExampleToRedirectTo == int.Parse(Regex.Match(redirectToSixthCodeExample, @"\d+").Value))
                    .FirstOrDefault()
                    .RedirectText,
                redirectToSixthCodeExample
            )
        )
    </p>

    <form class="eg" action="eg006" method="get">
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
    </form>
}
else
{
    <p>@Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].FormName)</p>

    <form class="eg" action="" method="post" data-busy="form-download">
        <div class="form-group">
            <label for="docSelect">
                @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[documentInputNumber].InputName)
            </label>

            <select class="custom-select" id="docSelect"
                    name="docSelect" aria-describedby="emailHelp">
                @foreach (var opt in ViewBag.documentOptions)
                {
                    <option value="@opt.DocumentId">@opt.Name</option>
                }
            </select>
        </div>
        <input type="hidden" name="_csrf" value="@ViewBag.csrfToken">
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
    </form>
}
