<h2>@ViewBag.h1</h2>
<p>@Html.Raw(ViewBag.message)</p>
<code>
    @ViewBag.JsonUrl
</code>
<iframe width="1500" height="800" src="@ViewBag.Url">

</iframe>


<p><a href="/">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</a></p>