<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>

@if (ViewBag.showDoc == true)
{
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example</p>
}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
@Html.Raw(
    @String.Format(
        ViewBag.SupportingTexts.ViewSourceFile, 
        "<a target='_blank' href=" + @ViewBag.source + ">ApplyBrandToTemplate.cs</a>"
    )
)
</p>

@if (ViewBag.templateOk)
{
    <form class="eg" action="" method="post" data-busy="form">
        <div class="form-group">
            <label for="signerEmail">
                @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[0].InputName)
            </label>

            <input type="email" 
                   class="form-control" 
                   id="signerEmail" 
                   name="signerEmail"
                   aria-describedby="emailHelp" 
                   placeholder="@ViewBag.CodeExampleText.Forms[0].Inputs[0].InputPlaceholder" 
                   required
                   value="@ViewBag.Locals.DsConfig.SignerEmail">

            <small id="emailHelp" class="form-text text-muted">
                @Html.Raw(ViewBag.SupportingTexts.HelpingTexts.EmailWontBeShared)
            </small>
        </div>

        <div class="form-group">
            <label for="signerName">
                @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[1].InputName)
            </label>

            <input type="text" 
                   class="form-control" 
                   id="signerName" 
                   placeholder="@ViewBag.CodeExampleText.Forms[0].Inputs[1].InputPlaceholder" 
                   name="signerName"
                   value="@ViewBag.Locals.DsConfig.SignerName" 
                   required />
        </div>

        <div class="form-group">
            <label for="ccEmail">
                @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[2].InputName)
            </label>

            <input type="email" 
                   class="form-control" 
                   id="ccEmail" 
                   name="ccEmail"
                   aria-describedby="emailHelp" 
                   placeholder="@ViewBag.CodeExampleText.Forms[0].Inputs[2].InputPlaceholder" 
                   required>

            <small id="emailHelp" class="form-text text-muted">
                @Html.Raw(ViewBag.SupportingTexts.HelpingTexts.CCEmailShouldDifferFromSigner)
            </small>
        </div>

        <div class="form-group">
            <label for="ccName">
                @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[3].InputName)
            </label>

            <input type="text" 
                   class="form-control" 
                   id="ccName" 
                   placeholder="@ViewBag.CodeExampleText.Forms[0].Inputs[3].InputPlaceholder" 
                   name="ccName"
                   required>
        </div>

        <div class="form-group">
            <label for="brandId">
                @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[4].InputName)
            </label>

            @if (ViewBag.Brands == null)
            {
                <p>
                    @Html.Raw(
                        String.Format(
                            ((IEnumerable<dynamic>) ViewBag.CodeExampleText.RedirectsToOtherCodeExamples)
                                .Where(x => x.CodeExampleToRedirectTo == 28)
                                .FirstOrDefault()
                                .RedirectText,
                            "href='eg028'"
                        )
                    )
                </p>
            }
            else
            {
                @Html.DropDownList("brandId", new SelectList(ViewBag.Brands, "BrandId", "BrandName"), new { @class = "form-control" })
            }
        </div>
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">

        @if (ViewBag.Brands != null)
        {
            @:<button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
        }
    </form>
}
else
{
    <p>
        @Html.Raw(
            String.Format(
                ((IEnumerable<dynamic>) ViewBag.CodeExampleText.RedirectsToOtherCodeExamples)
                    .Where(x => x.CodeExampleToRedirectTo == 8)
                    .FirstOrDefault()
                    .RedirectText,
                "href='eg008'"
            )
        )
    </p>

    <form class="eg" action="Eg008" method="get">
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
    </form>
}