<h2>@ViewBag.h1</h2>
<p>@Html.Raw(ViewBag.message)</p>

@if (ViewBag.Locals != null && ViewBag.Locals.Json != null)
{
    <!-- Data from the server -->
    <div id="server_json_data" data-server-json-data='{"json": @ViewBag.Locals.Json }' class="hidden"></div>
    <p><pre class="json-display"><code id="json-display">@ViewBag.Locals.Json</code></pre></p>
}

@if (ViewBag.AdditionalLink != null)
{
    <p><a href="@ViewBag.AdditionalLink">@ViewBag.AdditionalLinkText</a></p>
}
<p><a href="/">Continue</a></p>