@model DocuSign.CodeExamples.Models.PermissionProfileModel

<p>@Html.Raw(ViewBag.CodeExampleText.Forms[0].FormName)</p>

<form class="eg" asp-action="Create" method="post" data-busy="form">
    <div class="form-group">
        <label asp-for="ProfileName">
            @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[0].InputName)
        </label>
        <input type="input" class="form-control" asp-for="ProfileName"
               placeholder="@ViewBag.CodeExampleText.Forms[0].Inputs[0].InputPlaceholder" required />
    </div>

    @Html.HiddenFor(Model => Model.ProfileId)
    @Html.HiddenFor(Model => Model.AccountRoleSettingsModel.AllowApiAccess)

    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
</form>