@model DocuSign.CodeExamples.Models.PermissionProfileModel
@{
    int formNumber = 0;
    int profileNameInputNumber = 0;
}

<p>@Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].FormName)</p>

<form class="eg" asp-action="Create" method="post" data-busy="form">
    <div class="form-group">
        <label asp-for="ProfileName">
            @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[profileNameInputNumber].InputName)
        </label>
        <input class="form-control" asp-for="ProfileName"
               placeholder="@ViewBag.CodeExampleText.Forms[formNumber].Inputs[profileNameInputNumber].InputPlaceholder" required />
    </div>

    @Html.HiddenFor(model => model.ProfileId)
    @Html.HiddenFor(model => model.AccountRoleSettingsModel.AllowApiAccess)

    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
</form>