@{
    Layout = "_HomeLayout";
}

<div class="jumbotron">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1 class="display-4">C# Launcher</h1>
                    <p class="Xlead">
                        @Html.Raw(ViewBag.SupportingTexts.HomePageText)
                    </p>
                </td>
                <td>
                    <img src="/images/banner-code.PNG" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" style="margin-top: 40px" id="index-page">
    @foreach(var exampleGroup in ViewBag.APITexts)
    {
        <h2>@Html.Raw(exampleGroup.Name)</h2>

        @foreach(var example in exampleGroup.Examples)
        {

            @if(example?.SkipForLanguages == null || !example?.SkipForLanguages.ToLower().Contains("c#"))
            {
                <h4 id="@String.Format("example{0}", String.Format("{0:D3}", @example.ExampleNumber))">
                    @Html.Raw(example.ExampleNumber).
                    <a href="@String.Format("eg{0}", String.Format("{0:D2}", @example.ExampleNumber))">
                        @Html.Raw(example.ExampleName)
                    </a>
                </h4>

                <p>
                    @Html.Raw(example.ExampleDescription)
                </p>

                <partial name="../Shared/LinkToMethodView" model="example" />
            }
        }
    }

    <!-- anchor-js is only for the index page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
    <script>anchors.options.placement = 'left'; anchors.add('h4')</script>
</div>
