<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescriptionExtended)
</p>


@if (ViewBag.showDoc)
{
    <p><a target="_blank" href="@ViewBag.documentation">Documentation</a> about this example</p>
}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
    View source file <a target="_blank" href="@ViewBag.source">SetUserGroupPermission.cs</a> on GitHub.
</p>

<form action="" class="eg" method="post" data-busy="form">

    <div class="form-group">

        <label for="permissionProfileId">Permission profile</label>
        @Html.DropDownList(
            "permissionProfileId",
            ViewBag.PermissionProfiles,
            "Select permission profile",
            new { @class = "custom-select", required = "required" })
    </div>
    <div class="form-group">
        <label for="userGroupId">User group</label>
        @Html.DropDownList(
            "userGroupId",
            ViewBag.UserGroups,
            "Select user group",
            new { @class = "custom-select", required = "required" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>