<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>

<p>
@Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>
<p>

    API method used:
    <a target='_blank' href="@ViewBag.CodeExampleText.LinksToApiMethod[0].Path">@ViewBag.CodeExampleText.LinksToApiMethod[0].PathName</a>
</p>

<p>
    @Html.Raw(
        @String.Format(
            ViewBag.SupportingTexts.ViewSourceFile,
            "<a target='_blank' href=" + @ViewBag.source + ">CancelWorkflowInstance.cs</a>"
            )
        )
</p>

@if (ViewBag.IsWorkflowIdPresent)
{
    <form class="eg" action="" method="post" data-busy="form">
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
    </form>
}
else
{
    <p>
        @Html.Raw(
            ViewBag.CodeExampleText.CustomErrorTexts[0].ErrorMessage
        )
    </p>

    <form class="eg" action="mae001" method="get">
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
    </form>
}