@using Microsoft.AspNetCore.Html
@functions
{

    IHtmlContent GetTextInputMarkup(string id, string title, string type)
    {
        return Html.Raw($@"
<div class='form-group'>
    <label for= '{id}'>{title}</label >
    <input type = '{type}' name = '{id}' id = '{id}' placeholder = '{title}' required class='form-control'/>
</div>");
    }
}

<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>

@if (ViewBag.showDoc)
{
    <p><a target='_blank' href="@ViewBag.documentation">Documentation</a> about this example</p>
}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
@Html.Raw(@String.Format(ViewBag.SupportingTexts.ViewSourceFile, "<a target='_blank' href=" + @ViewBag.source + ">SendBulkEnvelopes.cs</a>"))
</p>

<form action="" class="eg" method="post" data-busy="form">
    <div class="row">
        <div class="col-md-6">
            <h5 class="mt-4">Bulk copy #1</h5>
            <div class="form-group">
                @GetTextInputMarkup("signer1.Email", "Signer Email", "email")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("signer1.Name", "Signer Name", "text")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("carbonCopy1.Email", "CC Email", "email")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("carbonCopy1.Name", "CC Name", "text")
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="mt-4">Bulk copy #2</h5>
            <div class="form-group">
                @GetTextInputMarkup("signer2.Email", "Signer Email", "email")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("signer2.Name", "Signer name", "text")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("carbonCopy2.Email", "CC Email", "email")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("carbonCopy2.Name", "CC Name", "text")
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
</form>
