@using Microsoft.AspNetCore.Html
@functions
{

    IHtmlContent GetTextInputMarkup(string id, string title, string type)
    {
        return Html.Raw($@"
<div class='form-group'>
    <label for= '{id}'>{title}</label >
    <input type = '{type}' name = '{id}' id = '{id}' placeholder = '{title}' required class='form-control'/>
</div>");
    }
}

<h4>31.  Bulk send envelopes</h4>

<p>
    Demonstrates how to send envelopes in bulk to multiple recipients. First, this example creates a bulk-send recipients list, then creates an envelope. After that, 
    it initiates bulk envelope sending.
</p>

@if (ViewBag.showDoc)
{
    <p><a target="_blank" href="@ViewBag.documentation">Documentation</a> about this example</p>
}

<p>
    API methods used:
    <a target="_blank"
       href="https://developers.docusign.com/docs/esign-rest-api/reference/bulkenvelopes/bulksend/createbulksendlist/">BulkSend::createBulkSendList</a>,
    <a target="_blank"
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>,
    <a target="_blank"
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopecustomfields/create/">EnvelopeCustomFields::create</a>,
    <a target="_blank"
       href="https://developers.docusign.com/docs/esign-rest-api/reference/bulkenvelopes/bulksend/createbulksendrequest/">BulkSend::createBulkSendRequest</a>,
    <a target="_blank"
       href="https://developers.docusign.com/docs/esign-rest-api/reference/bulkenvelopes/bulksend/getbulksendbatchstatus/">BulkSend::getBulkSendBatchStatus</a>
</p>


<p>
    View source file <a target="_blank" href="@ViewBag.source">SendBulkEnvelopes.cs</a> on GitHub.
</p>

<form action="" class="eg" method="post" data-busy="form">
    <div class="row">
        <div class="col-md-6">
            <h5 class="mt-4">Bulk copy #1</h5>
            <div class="form-group">
                @GetTextInputMarkup("signer1.Email", "Signer Email", "email")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("signer1.Name", "Signer Name", "text")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("carbonCopy1.Email", "CC Email", "email")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("carbonCopy1.Name", "CC Name", "text")
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="mt-4">Bulk copy #2</h5>
            <div class="form-group">
                @GetTextInputMarkup("signer2.Email", "Signer Email", "email")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("signer2.Name", "Signer name", "text")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("carbonCopy2.Email", "CC Email", "email")
            </div>
            <div class="form-group">
                @GetTextInputMarkup("carbonCopy2.Name", "CC Name", "text")
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
