@{
    int formNumber = 0;
    int emailInputNumber = 0;
}

<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
    @Html.Raw(
        @String.Format(
            ViewBag.SupportingTexts.ViewSourceFile, 
            "<a target='_blank' href=" + @ViewBag.source + ">RetrieveDocuSignProfileByEmailAddress.cs</a>"
        )
    )
</p>

<form class="eg" asp-action="RetriveProfileByEmail" method="post" data-busy="form">
    <div class="form-group">
        <label for="email">
            @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[emailInputNumber].InputName)
        </label>

        <input type="email" class="form-control" id="email" name="email" 
            placeholder="@ViewBag.CodeExampleText.Forms[formNumber].Inputs[emailInputNumber].InputPlaceholder" required>
    </div>
    
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
</form>
