@model DocuSign.CodeExamples.Click.Controllers.ActivateClickwrap

<h4>2. @Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 
<p>
    @Html.Raw(@String.Format(ViewBag.SupportingTexts.ViewSourceFile, "<a target='_blank' href=" + @ViewBag.source + ">ActivateClickwrap.cs</a>"))
</p>

@if (ViewBag.ClickwrapsData.Clickwraps.Count > 0) {
    <p>Please choose a clickwrap to activate</p>
    <form class="eg" asp-action="Activate" method="post" data-busy="form">
        <div class="form-group">
            <label for="clickwrapData">Clickwrap</label>
            <select class="custom-select" id="clickwrapData"
                    name="clickwrapData">
                @foreach (var clickwrap in ViewBag.ClickwrapsData.Clickwraps) {
                    <option value=@Html.Raw(clickwrap.ClickwrapId):@Html.Raw(clickwrap.VersionNumber)>@Html.Raw(clickwrap.ClickwrapName)</option>
                }
            </select>
        </div>
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
} else { 
    @Html.Raw(
        String.Format(
            ((IEnumerable<dynamic>) ViewBag.CodeExampleText.RedirectsToOtherCodeExamples)
                .Where(x => x.CodeExampleToRedirectTo == 1)
                .FirstOrDefault()
                .RedirectText,
            "href='eg01'"
        )
    )
} 
