@model DocuSign.CodeExamples.Rooms.Models.RoomModel

@if (Model.Templates != null && Model.Templates.Any())
{
    <form class="eg" asp-action="Create" method="post" data-busy="form">
        <div class="form-group">
            <label asp-for="Name">
                @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[0].InputName)
            </label>

            <input type="input" class="form-control" asp-for="Name" 
                placeholder="@ViewBag.CodeExampleText.Forms[0].Inputs[0].InputPlaceholder" required>
        </div>

        <div class="form-group">
            <label for="docSelect">
                @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[1].InputName)
            </label>

            <select class="custom-select" asp-for="TemplateId" 
                asp-items="@(new SelectList(Model.Templates, "RoomTemplateId", "Name"))" required>
            </select>
        </div>

        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
    </form>
}
else
{
    <p>@Html.Raw(ViewBag.CodeExampleText.RedirectsToOtherCodeExamples[0].RedirectText)</p>
    <a href="/" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</a>
}
