@using Microsoft.AspNetCore.Html
@functions
{
    IHtmlContent GetTextInputMarkup(string id, dynamic title, string type)
    {
        return Html.Raw($@"
<div class='form-group'>
    <label for= '{id}'>{title}</label >
    <input type = '{type}' name = '{id}' id = '{id}' placeholder = '{title}' required class='form-control'/>
</div>");
    } 
}

<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>

<p>@Html.Raw(ViewBag.CodeExampleText.ExampleDescription)</p>

@if (ViewBag.showDoc)
{
<p><a target='_blank' href="@ViewBag.documentation">Documentation</a> about this example</p>}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
@Html.Raw(String.Format(ViewBag.SupportingTexts.ViewSourceFile, "<a target='_blank' href=" + @ViewBag.source + ">PauseSignatureWorkflow.cs</a>"))
</p>

<form action="" class="eg" method="post" data-busy="form">

    <p>@Html.Raw(ViewBag.CodeExampleText.Forms[0].FormName)</p>
    <div class="row">
        <div class="col-md-6 column">
            <div class="form-group">
                @GetTextInputMarkup("recipient1.Name", @ViewBag.CodeExampleText.Forms[0].Inputs[0].InputName, "text")
                @GetTextInputMarkup("recipient1.Email", @ViewBag.CodeExampleText.Forms[0].Inputs[1].InputName, "email")
            </div>
        </div>
    </div>


    <p>@Html.Raw(ViewBag.CodeExampleText.Forms[1].FormName)</p>
    <div class="row">
        <div class="col-md-6 column ">
            <div class="form-group">
                @GetTextInputMarkup("recipient2.Name", @ViewBag.CodeExampleText.Forms[1].Inputs[0].InputName, "text")
                @GetTextInputMarkup("recipient2.Email", @ViewBag.CodeExampleText.Forms[1].Inputs[1].InputName, "email")
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
</form>