@model DocuSign.CodeExamples.Rooms.Models.RoomsListModel
@using System.Text.RegularExpressions;
@{
    var redirectToFirstCodeExample = "href='reg001'";
    int formNumber = 0;
    int roomNameInputNumber = 0;
}

@if (Model.Rooms.Any())
{
    <form class="eg" asp-action="ExportData" method="post" data-busy="form">
        <div class="form-group">
            <label for="docSelect">
                @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[roomNameInputNumber].InputName)
            </label>
            <select class="custom-select" asp-for="RoomId" asp-items="@(new SelectList(Model.Rooms, "RoomId","Name"))" required>
            </select>
        </div>
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
    </form>
}
else
{
    <p>
        @Html.Raw(
            String.Format(
                ((IEnumerable<dynamic>) ViewBag.CodeExampleText.RedirectsToOtherCodeExamples)
                    .Where(x => x.CodeExampleToRedirectTo == int.Parse(Regex.Match(redirectToFirstCodeExample, @"\d+").Value))
                    .FirstOrDefault()
                    .RedirectText,
                "href='eg01'"
            )
        )
    </p>
    <a href="/?egName=home" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</a>
}