@using Microsoft.AspNetCore.Html
@functions
{
    IHtmlContent GetTextInputMarkup(string id, string title, string type)
    {
        return Html.Raw($@"
            <div class='form-group'>
                <label for= '{id}'>{title}</label >
                <input type = '{type}' name = '{id}' id = '{id}' placeholder = '{title}' required class='form-control'/>
            </div>"
        );
    }
}

<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>

@if (ViewBag.showDoc)
{
    <p><a target='_blank' href="@ViewBag.documentation">Documentation</a> about this example</p>
}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
@Html.Raw(@String.Format(ViewBag.SupportingTexts.ViewSourceFile, "<a target='_blank' href=" + @ViewBag.source + ">ConditionalRecipientsWorkflow.cs</a>"))
</p>

<form action="" class="eg" method="post" data-busy="form">

    @Html.Raw(ViewBag.CodeExampleText.Forms[0].FormName)
    <div class="row">
        <div class="col-md-6 column">
            <div class="form-group">
                @GetTextInputMarkup("recipient1.Email", @ViewBag.CodeExampleText.Forms[0].Inputs[0].InputName, "email")
                @GetTextInputMarkup("recipient1.Name", @ViewBag.CodeExampleText.Forms[0].Inputs[1].InputName, "text")
            </div>
        </div>
    </div>

    @Html.Raw(ViewBag.CodeExampleText.Forms[1].FormName)
    <div class="row">
        <div class="col-md-6 column ">
            <div class="form-group">
                @GetTextInputMarkup("conditionalRecipient1.Email", @ViewBag.CodeExampleText.Forms[1].Inputs[0].InputName, "email")
                @GetTextInputMarkup("conditionalRecipient1.Name", @ViewBag.CodeExampleText.Forms[1].Inputs[1].InputName, "text")
            </div>
        </div>
    </div>

    @Html.Raw(ViewBag.CodeExampleText.Forms[2].FormName)
    <div class="row">
        <div class="col-md-6 column ">
            <div class="form-group">
                @GetTextInputMarkup("conditionalRecipient2.Email", @ViewBag.CodeExampleText.Forms[2].Inputs[0].InputName, "email")
                @GetTextInputMarkup("conditionalRecipient2.Name", @ViewBag.CodeExampleText.Forms[2].Inputs[1].InputName, "text")
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
</form>