@model DocuSign.CodeExamples.Rooms.Controllers.AddingFormToRoom

<h4>4. @Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 
<p>
@Html.Raw(
    @String.Format(
        ViewBag.SupportingTexts.ViewSourceFile, 
        "<a target='_blank' href=" + @ViewBag.source + ">AddingFormToRoom.cs</a>"
        )
    )
</p>

<partial name="Shared/AddFormView" model="Model.RoomFormModel" />
