@model DocuSign.CodeExamples.Rooms.Models.RoomFilterModel
@{
    int formNumber = 0;
    int startDateInputNumber = 0;
    int endDateInputNumber = 1;
}

<form class="eg" asp-action="ExportData" method="post" data-busy="form">
    <div class="form-group">
        <label asp-for="FieldDataChangedStartDate">
            @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[startDateInputNumber].InputName)
        </label>

        <input type="date" class="form-control" asp-for="FieldDataChangedStartDate" 
               value="@Model.FieldDataChangedStartDate.ToString("yyyy-MM-dd")" required />
    </div>

    <div class="form-group">
        <label asp-for="FieldDataChangedEndDate">
            @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[endDateInputNumber].InputName)
        </label>

        <input type="date" class="form-control" asp-for="FieldDataChangedEndDate"
               value="@Model.FieldDataChangedEndDate.ToString("yyyy-MM-dd")" required />
    </div>

    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
</form> 