<h4>11. Embedded Sending</h4>
<p>
    An envelope will be created in draft mode. The DocuSign UI will then be shown, enabling further updates to the envelope before it is sent.
</p>
<p>
    The envelope includes three documents: one each in PDF, Word, and HTML format. Anchor text
    (<a href="https://developers.docusign.com/docs/esign-rest-api/esign101/concepts/tabs/auto-place/">AutoPlace</a>)
    is used to position the signing fields in the documents.
</p>
<p>
    DocuSign recommends that you enhance your application as needed to avoid the need for the embedded sender view.  For example, if the sender view is used to optionally add additional documents to the envelope, enhance your app to provide the needed feature (see example 13 for adding additional documents programmatically).
</p>

@if (ViewBag.showDoc) {
<p><a target='_blank' href='@ViewBag.documentation'>Documentation</a> about this example</p>
}

<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a> and
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopeviews/createsender/">EnvelopeViews::createSender</a>.
</p>

<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg011EmbeddedSendingController.cs</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="startingView">Starting View</label>
        <select id="startingView" name="startingView" class="form-control">
            <option value="tagging" selected>Tagging view</option>
            <option value="recipient">Recipient &amp; Documents view</option>
        </select>
    </div>
    <div class="form-group">
        <label for="signerEmail">Signer Email</label>
        <input type="email" class="form-control" id="signerEmail" name="signerEmail"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="@ViewBag.Locals.DsConfig.SignerEmail">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="signerName">Signer Name</label>
        <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
               value="@ViewBag.Locals.DsConfig.SignerName" required>
    </div>
    <div class="form-group">
        <label for="ccEmail">CC Email</label>
        <input type="email" class="form-control" id="ccEmail" name="ccEmail"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
        <small id="emailHelp" class="form-text text-muted">The email and/or name for the cc recipient must be different from the signer.</small>
    </div>
    <div class="form-group">
        <label for="ccName">CC Name</label>
        <input type="text" class="form-control" id="ccName" placeholder="Pat Johnson" name="ccName"
               required>
    </div>
    <input type="hidden" name="_csrf" value="@ViewBag.csrfToken">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
