@{
    int formNumber = 0;
    int countryCodeInputNumber = 0;
    int numberInputNumber = 1;
    int signerNameInputNumber = 2;
    int ccCountryCodeInputNumber = 3;
    int ccNumberInputNumber = 4;
    int ccSignerNameInputNumber = 5;
    int deliveryMethodNumber = 6;
    int deliveryMethodSms = 7;
    int deliveryMthodWhatsApp = 8;
}

<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>


@if (ViewBag.showDoc == true)
{
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example</p>
}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
    @Html.Raw(
        String.Format(
            ViewBag.SupportingTexts.ViewSourceFile, 
            "<a target='_blank' href=" + @ViewBag.source + ">SMSDelivery.cs</a>"
        )
    )
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <p><b>@Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[deliveryMethodNumber].InputName)</b></p>
        <input type="radio" checked="checked" name="deliveryMethod" value="SMS" />
        <label>@Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[deliveryMethodSms].InputName)</label>
        <input type="radio" name="deliveryMethod" value="WhatsApp"/>
        <label>@Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[deliveryMthodWhatsApp].InputName)</label>
    </div>
    <div class="form-group">
        <label for="signerCountryCode">
            @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[countryCodeInputNumber].InputName)
        </label>

        <input type="number" 
               class="form-control"
               id="signerCountryCode" 
               name="signerCountryCode"
               aria-describedby="countryCodeHelp" 
               placeholder="@ViewBag.CodeExampleText.Forms[formNumber].Inputs[countryCodeInputNumber].InputPlaceholder" 
               required />

        <small id="countryCodeHelp" class="form-text text-muted">
            @Html.Raw(ViewBag.SupportingTexts.HelpingTexts.CountryCodeText)
        </small>
    </div>
    <div class="form-group">
        <label for="signerPhoneNumber">
            @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[numberInputNumber].InputName)
        </label>

        <input type="tel" 
               class="form-control"
               id="signerPhoneNumber" 
               name="signerPhoneNumber"
               aria-describedby="phoneNumberHelp"
               placeholder="@ViewBag.CodeExampleText.Forms[formNumber].Inputs[numberInputNumber].InputPlaceholder" 
               required />

        <small id="phoneNumberHelp" class="form-text text-muted">
            @Html.Raw(ViewBag.SupportingTexts.HelpingTexts.PhoneNumberWillBeNotified) 
            @Html.Raw(ViewBag.SupportingTexts.HelpingTexts.PhoneNumberWontBeShared) 
        </small>
    </div>
    <div class="form-group">
        <label for="signerName">
            @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[signerNameInputNumber].InputName)
        </label>

        <input type="text" 
               class="form-control"
               id="signerName" 
               placeholder="@ViewBag.CodeExampleText.Forms[formNumber].Inputs[signerNameInputNumber].InputPlaceholder"
               name="signerName"
               value="@ViewBag.Locals.DsConfig.SignerName" 
               required />
    </div>
    <div class="form-group">
        <label for="ccCountryCode">
            @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[ccCountryCodeInputNumber].InputName)
        </label>

        <input type="number" 
               class="form-control" 
               id="ccCountryCode" 
               name="ccCountryCode"
               aria-describedby="countryCodeHelp" 
               placeholder="@ViewBag.CodeExampleText.Forms[formNumber].Inputs[ccCountryCodeInputNumber].InputPlaceholder"
               required />

        <small id="countryCodeHelp" class="form-text text-muted">
            @Html.Raw(ViewBag.SupportingTexts.HelpingTexts.CountryCodeText)
        </small>
    </div>
    <div class="form-group">
        <label for="ccPhoneNumber">
            @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[ccNumberInputNumber].InputName)
        </label>

        <input type="tel" 
               class="form-control" 
               id="ccPhoneNumber" 
               name="ccPhoneNumber"
               aria-describedby="phoneNumberHelp" 
               placeholder="@ViewBag.CodeExampleText.Forms[formNumber].Inputs[ccNumberInputNumber].InputPlaceholder" 
               required />

        <small id="phoneNumberHelp" class="form-text text-muted">
            @Html.Raw(ViewBag.SupportingTexts.HelpingTexts.PhoneNumberWillBeNotified) 
            @Html.Raw(ViewBag.SupportingTexts.HelpingTexts.PhoneNumberWontBeShared) 
        </small>
    </div>
    <div class="form-group">
        <label for="ccName">
            @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[ccSignerNameInputNumber].InputName)
        </label>

        <input type="text" 
               class="form-control" 
               id="ccName" 
               placeholder="@ViewBag.CodeExampleText.Forms[formNumber].Inputs[ccSignerNameInputNumber].InputPlaceholder" 
               name="ccName"
               required />
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
</form>
