<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>

@if (@ViewBag.showDoc) {
   <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example</p>
}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 
<p>
@Html.Raw(@String.Format(ViewBag.SupportingTexts.ViewSourceFile, "<a target='_blank' href=" + @ViewBag.source + ">ListAccountEnvelopes.cs</a>"))
</p>

<form class="eg" action="" method="post" data-busy="form">
    <input type="hidden" name="_csrf" value="@ViewBag.csrfToken">
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
</form>

