@using System.Text.RegularExpressions;
@{
    var redirectToSecondCodeExample = "href='Aeg02'";
    int formNumber = 0;
    int permissionInputNumber = 0;
}
<h4>9. @Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>


<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 
<p>
    @Html.Raw(
        @String.Format(
            ViewBag.SupportingTexts.ViewSourceFile, 
            "<a target='_blank' href=" + @ViewBag.source + ">DeleteUserProductPermissionProfile.cs</a>"
        )
    )
</p>

@if (ViewBag.EmailAddress != null) {
    <p>
        @Html.Raw(String.Format(ViewBag.CodeExampleText.Forms[formNumber].FormName, @ViewBag.EmailAddress))
    </p>

    <form class="eg" asp-action="DeleteUserProductProfile" method="post" data-busy="form">
        <div class="form-group">
            <label for="Products">
                @Html.Raw(ViewBag.CodeExampleText.Forms[formNumber].Inputs[permissionInputNumber].InputName)
            </label>

            @Html.DropDownList(
                "ProductId", 
                new SelectList(ViewBag.Products, "Key", "Value"), 
                new { @class = "form-control" }
            )
        </div>

        <input type="hidden" name="csrf_token" value="<%- csrfToken %>"/>
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
    </form>
}
else 
{ 
    <p>
        @Html.Raw(
            String.Format(
                ((IEnumerable<dynamic>) ViewBag.CodeExampleText.RedirectsToOtherCodeExamples)
                    .Where(x => x.CodeExampleToRedirectTo == int.Parse(Regex.Match(redirectToSecondCodeExample, @"\d+").Value))
                    .FirstOrDefault()
                    .RedirectText,
                redirectToSecondCodeExample
            )
        )
    </p>
} 

