<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>

<p>
    Get status of a workflow
</p>
<p>

    API method used:
    <a target='_blank' href="@ViewBag.CodeExampleText.LinksToApiMethod[0].Path">@ViewBag.CodeExampleText.LinksToApiMethod[0].PathName</a>
</p>

<p>
    @Html.Raw(
        @String.Format(
            ViewBag.SupportingTexts.ViewSourceFile,
            "<a target='_blank' href=" + @ViewBag.source + ">CancelWorkflow.cs</a>"
            )
        )
</p>

@if (@ViewBag.WorkflowId != null && @ViewBag.InstanceId != null)
{
    <form class="eg" action="" method="post" data-busy="form">
        @if (ViewBag.CodeExampleText.Forms != null && ViewBag.CodeExampleText.Forms[0].FormName != null)
        {
            @Html.Raw(ViewBag.CodeExampleText.Forms[0].FormName)
        }
        <div class="form-group">
            <label for="workflowId">
                @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[0].InputName)
            </label>
            <input type="text" class="form-control" id="workflowId" name="workflowId" value="@ViewBag.WorkflowId"
                   placeholder="@ViewBag.CodeExampleText.Forms[0].Inputs[0].InputPlaceholder" readonly>
        </div>
        <div class="form-group">
            <label for="instanceId">
                @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[1].InputName)
            </label>
            <input type="text" class="form-control" id="instanceId" name="instanceId" value="@ViewBag.InstanceId"
                   placeholder="@ViewBag.CodeExampleText.Forms[0].Inputs[1].InputPlaceholder" readonly>
        </div>
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
    </form>
}
else
{
    @Html.Raw(
@String.Format(
    ViewBag.CodeExampleText.RedirectsToOtherCodeExamples[0].RedirectText,
    "href=mae00" + @ViewBag.CodeExampleText.RedirectsToOtherCodeExamples[0].CodeExampleToRedirectTo
    )
)
    <form class="eg" action="mae001" method="get">
        <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
    </form>
}



