@model DocuSign.CodeExamples.Rooms.Controllers.CreateRoomWithData

<h4>1. @Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 
<p>
@Html.Raw(
    @String.Format(
        ViewBag.SupportingTexts.ViewSourceFile, 
        "<a target='_blank' href=" + @ViewBag.source + ">CreateRoomWithData.cs</a>"
    )
)
</p>

<partial name="Shared/CreateRoomView" model="Model.RoomModel" />
