
<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>
    
@if (ViewBag.showDoc == true)
{
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example.</p>
}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
@Html.Raw(@String.Format(ViewBag.SupportingTexts.ViewSourceFile, "<a target='_blank' href=" + @ViewBag.source + ">BulkExportUserData.cs</a>"))
</p>

<form class="eg" action="" method="post" data-busy="form">

    <div class="form-group">
        <label for="signerCountryCode">Signer Country Code</label>
        <input type="number" class="form-control" id="signerCountryCode" name="signerCountryCode"
               aria-describedby="countryCodeHelp" placeholder="1" required />
        <small id="countryCodeHelp" class="form-text text-muted">@Html.Raw(ViewBag.SupportingTexts.HelpingTexts.CountryCodeText)</small>
    </div>
    <div class="form-group">
        <label for="signerPhone">Signer Phone Number</label>
        <input type="tel" class="form-control" id="signerPhoneNumber" name="signerPhoneNumber"
               aria-describedby="telHelp" placeholder="4155551212" required
               value="">
        <small id="telHelp" class="form-text text-muted">@Html.Raw(ViewBag.SupportingTexts.HelpingTexts.PhoneNumberWontBeShared)</small>
    </div>
    <div class="form-group">
        <label for="signerEmail">Signer Email</label>
        <input type="email" class="form-control" id="signerEmail" name="signerEmail"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="@ViewBag.Locals.DsConfig.SignerEmail">
        <small id="emailHelp" class="form-text text-muted">@Html.Raw(ViewBag.SupportingTexts.HelpingTexts.EmailWontBeShared)</small>
    </div>
    <div class="form-group">
        <label for="signerName">Signer Name</label>
        <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
               value="@ViewBag.Locals.DsConfig.SignerName" required />
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
</form>

