
<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>

 @if (ViewBag.showDoc == true)
 {
     <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example</p>
 }

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
@Html.Raw(@String.Format(ViewBag.SupportingTexts.ViewSourceFile, "<a target='_blank' href=" + @ViewBag.source + ">RecipientAuthKBA.cs</a>"))
</p>

<form class="eg" action="" method="post" data-busy="form">
    <p>
        <strong>Note:</strong> The access code for this example is the Signer Name.
    </p>

    <div class="form-group">
        <label for="signerEmail">Signer Email</label>
        <input type="email" class="form-control" id="signerEmail" name="signerEmail"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="@ViewBag.Locals.DsConfig.SignerEmail">
        <small id="emailHelp" class="form-text text-muted">@Html.Raw(ViewBag.SupportingTexts.HelpingTexts.EmailWontBeShared)</small>
    </div>
    <div class="form-group">
        <label for="signerName">Signer Name</label>
        <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
               value="@ViewBag.Locals.DsConfig.SignerName" required />
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
</form>
